#diagram .panel {
  width: 280px;
  height: 500px;
  padding: 20px 19px 20px 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  position: absolute;
  left: 0;
}

#app-body .panel .tab-pane {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

div.network-links {
  margin-bottom: 15px;
  float: left;
}

#diagram .graph {
  width: 960px;
  height: 750px;
  position: relative; 
  float: left;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

text {
  font-size: 12px;
  pointer-events: none;
}

text.shadow {
  stroke: #FFF;
  stroke-width: 3px;
  stroke-opacity: 0.9;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

div.tooltip {
        position: absolute;
        text-align: left;
        width: 180px;
        height: 80px;
        padding: 8px;
        font: 10px sans-serif;
        background: #ddd;
        border: solid 1px #aaa;
        border-radius: 8px;
        pointer-events: none;
}